{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}


{% block body %}
<section>
    <div>
        <div class="container-md container-fluid">
            <div id="ctnVideo">
                <video src="video/Rainy Day - 5278.mp4" id="video" autoplay ></video>
                <div class="containerText">
                    <h1 id="titreVideo" class="txtVideo" id='titreVideo'>MyBoutique</h1>
                    <p class="txtVideo" id="textVideo">le grand pour tous sans le covid</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <secti>
        <div class="container-md container-fluid" >
            <h2>Nos meilleur vente</h2>

            <div class="container_carousel row">

                <div class="carousel col-sm-12 col-md-3">
                    <div class='col'>
                        <img src="https://picsum.photos/id/1025/550/900" class="img-fluid" alt="image du produit">
                    </div>
                    <div class="col">
                        <div class="infoProdui row">
                            <h3 class="col-8">Nom du produit</h3>
                            <p class="col-4 prixProduit">prix <span>€</span></p>
                        </div>
                        <div>
                            <p>desciption courte de l'article afiché voiudpo jdlmmh sp pjmomojm...</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </secti>
{% endblock %}
