{% extends 'base.html.twig' %}

{% block title %}Hello CGUtilisateurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>condition général d'utillisation</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius esse illo, illum iusto laboriosam omnis quasi sint soluta totam. Blanditiis doloribus error excepturi quibusdam repudiandae temporibus ut voluptate voluptatum.<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque debitis dolores fugit harum impedit iste maxime minus neque officia placeat qui quia quod rem repudiandae, soluta velit vitae, voluptates?</span><span>Doloremque, doloribus neque! Eum facilis incidunt sint suscipit. Amet, aut reprehenderit? Animi consectetur debitis deleniti dolore dolorum eos illum maxime modi natus, nostrum nulla praesentium quidem, saepe tempore totam vel.</span><span>Architecto consectetur dolores dolorum eius, illo impedit modi neque, nesciunt pariatur reiciendis similique voluptate. Delectus deleniti exercitationem hic ipsum officia rerum. Aperiam libero odit possimus qui quisquam quo vero voluptate!</span><span>Ad deserunt dolor eius esse fuga minima odit officia praesentium quam. Ad, aperiam autem culpa delectus, earum enim excepturi fuga in ipsam iste laborum maiores quibusdam recusandae reprehenderit vitae, voluptate?</span><span>Aliquam at autem cumque dolores, dolorum et, id in iste iure laboriosam minima molestias nam nobis odio odit quas quidem quod ratione recusandae reiciendis reprehenderit rerum sequi totam ut vero.</span></p>
</div>
{% endblock %}
